* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.contain{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), #0f0904),  url(../IMAGE/pexels-photo-3640930.jpeg);
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 90%;
    max-width: 600px;
}

form .heading {
    display: block;
    text-align: center;
    margin-bottom: 80px;
}
form .heading h1 {
    text-transform: uppercase;
    font-size: 52px;
    text-shadow: #CDC9A5;
    opacity: 0.8;
    color: #fff;
    letter-spacing: 18px;
}

.input-group {
    margin-bottom: 30px;
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}

button {
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: #0f0904;
}

input:focus~label,
input:valid~label,
textarea:valid~label,
textarea:focus~label
 {
    top: -35px;
    font-size: 14px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group {
    flex-basis: 48%;
}






