* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #333;
	line-height: 1.5;
}

a {
	color: #333;
	text-decoration: none;
}

header {
	background-color: #fff;
	color: #333;
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.inside {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}

nav ul li {
	margin-right: 20px;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li a {
	font-weight: bold;
}

.hero {
	background-image: url(bookstore-bg.jpg);
	background-size: cover;
	background-position: center;
	height: 155px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
	text-align: center;
}

.hero h2 {
	font-size: 52px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 18px;
	padding-top: 100px;
}

.about-us {
	padding: 80px 0;
	background-color: #f7f7f7;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-us h3 {
	font-size: 36px;
	margin-bottom: 40px;
}

.about-text {
	max-width: 800px;
	margin-bottom: 40px;
}

.about-image {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-image img {
	max-width: 100%;
	max-height: 100%;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

